:root {
    --main-color: #6E2FF4;
  }

// mobile
@media screen and(min-width: 350px) and(max-width: 690px) {
    section.title-sec {
        color: white;
        text-align: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                margin-top: 2em;
            }
            .iconify {
                width: 40px;
                height: 40px;
            }
        }
        p {
            margin: 0;
            padding-bottom: 2em;
        }
    }
    section.body {
        margin-top: 2em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .contact-form {
            margin: .9em 0;
            background: white;
            width: 95%;
            @include contact-form(column,column,100%,80%) ;
            .button-sec {
                width: 80%;
                @include button-send(column) ;
            }
        }
        .localisation {
            margin: .9em 0;
            width: 95%;
            @include localisation(100%);
        }
    }
    section.popup-block {
        @include popup(320px,.6em,74%,17px) ;
    }
}

// medium desktop
@media screen and(min-width: 691px) and(max-width: 950px) {
    section.title-sec {
        color: white;
        text-align: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                margin-top: 2em;
            }
            .iconify {
                width: 40px;
                height: 40px;
            }
        }
        p {
            margin: 0;
            padding-bottom: 2em;
        }
    }
    section.body {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        .contact-form {
            margin: .9em 0;
            background: white;
            width: 95%;
            @include contact-form(column,row,130%,60%);
            .button-sec {
                width: 78%;
                @include button-send(row) ;
            }
        }
        .localisation {
            width: 100%;
            margin: .9em 0;
            @include localisation(95%);
        }
    }
    section.popup-block {
        @include popup(320px,.7em,50%,20px) ;
    }
}

// large desktop
@media screen and(min-width: 950px) and(max-width: 1920px) {
    section.title-sec {
        color: white;
        text-align: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                margin-top: 2em;
            }
            .iconify {
                width: 40px;
                height: 40px;
            }
        }
        p {
            margin: 0;
            padding-bottom: 2em;
        }
    }
    section.body {
        margin-top: 2em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .contact-form {
            background: white;
            flex: 1;
            @include contact-form(column,column,100%,80%) ;
            .button-sec {
                width: 80%;
                @include button-send(column) ;
            }
        }
        .localisation {
            flex: 1;
            text-align: center;
            iframe {
                width: 95%;
                height: 435px;
                border: none;
            }
        }
    }
    section.popup-block {
        @include popup(350px,.8em,50%,25px) ;
    }
}

.Form_info-disabled {
    display: none;
}