@import "./mixins" ;


// mobile ...
@media screen and(min-width: 350px) and (max-width: 690px){
    section {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    section.start-title {
        @include start-title(.9em,450px);
    }
    
    section.why-us {
        @include why-us(column,.9em) ;
    }
    
    section.service-cts {
        @include service-cts(wrap,1em) ;
    }
    
    section.offer-week {
        @include offer-week(column,100%,1.5em) ;
    }
    
    section.news-updates {
        @include news-updates(column,2em) ;
    }
}

// medium desktop ...
@media screen and(min-width: 691px) and (max-width: 950px){
    section {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    section.start-title {
        @include start-title(1.3em,500px);
    }

    section.why-us {
        @include why-us(row,1em) ;
    }
    section.service-cts {
        @include service-cts(wrap,1.1em) ;
    }
    section.offer-week {
        @include offer-week(row,50%,3em) ;
    }
    section.news-updates {
        @include news-updates(row,2em) ;
    }
}

// large Desktop
@media screen and(min-width: 951px) and (max-width: 1920px){
    section {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    section.start-title {
        @include start-title(2em,600px) ;
    }
    
    section.why-us {
        @include why-us(row,1.4em) ;
    }
    
    section.service-cts {
        @include service-cts(nowrap,.9em) ;
    }
    
    section.offer-week {
        @include offer-week(row,40%,3em) ;
    }
    
    section.news-updates {
        @include news-updates(row,4em) ;
    }
}