@import "./mixins" ;

@media screen and(min-width: 350px) and (max-width: 690px){
    section.title-pg {
        height: 200px;
        h2 {
            margin: 0;
            padding-top: 2.3em;
            display: flex;
            justify-content: flex-start;
            color: white;
            font-size: 2.3em;
        }
    }
    section.gallery-sec {
        margin: 2em 30px;
        .type-cars {
            display: none;
        }
        .cta-list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 1em 0;
            button {
                font-size: 1em;
                background: var(--main-color);
                color: white;
                border: none;
                padding: .7em 1em;
                border-radius: 10px;
                &:hover {
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
        .filter-bar {
            display: none;
        }
        .main-content {
            @include main-content(column,column,100%,.6em);
        }
    }
    .display-list {
        @include type-cars-name(column);
        li {
            margin: .3em 0;
            font-size: .85em;
        }
    }
    .open-list {
        display: block;
        text-align: right;
        img {
            width: 25px;
            height: 25px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}


@media screen and(min-width: 691px) and (max-width: 950px){
    section.title-pg {
        height: 200px;
        h2 {
            margin: 0;
            padding-top: 2.3em;
            display: flex;
            justify-content: flex-start;
            color: white;
            font-size: 2.3em;
        }
    }
    section.gallery-sec {
        margin: 2em 30px;
        .type-cars {
            @include type-cars-name(row);
            font-size: .8em;
        }
        .cta-list {
            display: none;
        }
        .main-content {
            @include main-content(column,row,220px,.7em);
        }
        .close-cta {
            display: none;
        }
        .filter-bar {
            display: none;
        }
    }
}


@media screen and(min-width: 951px) and (max-width: 1920px){
    section.title-pg {
        height: 200px;
        h2 {
            margin: 0;
            padding-top: 2.3em;
            display: flex;
            justify-content: flex-start;
            color: white;
            font-size: 2.3em;
        }
    }
    section.gallery-sec {
        margin: 2em 30px;
        .type-cars {
            @include type-cars-name(row);
        }
        .cta-list {
            display: none;
        }
        .main-content {
            @include main-content(column,row,350px,1em);
        }
        .filter-bar {
            display: none;
            border: 2px solid #B8B8B8;
            width: 40%;
            height: 870px;
            .title-filter {
                background: #cfcdcd;
                padding: 1.5em;
                margin-bottom: 3em;
                h3 {
                    font-size: .8em;
                    text-align: center;
                    margin: 0;
                    color: gray;
                }
            }
            .filter-content {
                text-align: left;
                margin: 4em 1.5em;
                font-size: .8em;
                p {
                    margin-bottom: 1em;
                    margin-top: 2.5em;
                }
                input {
                    width: 90%;
                    height: 27px;
                    background: #f1f1f1;
                    border: 1.4px solid #c7c7c7;
                }
                ::placeholder {
                    color: black;
                    font-family: 'Poppins';
                }
            }
            .find-car {
                text-align: center;
                button {
                    background: rgb(19, 19, 19);
                    font-family: 'Poppins';
                    font-size: .9em;
                    border: none;
                    color: white;
                    padding: .7em 0;
                    width: 70%;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .close-cta {
            display: none;
        }
    }
}
