@media only screen and (min-width: 730px) {
  :root {
    --main-color: #6E2FF4;
  }
  body {
    background: #f1f1f1;
    font-family: 'Poppins';
    margin: 0em 0px;
    letter-spacing: 0.05em;
  }
  .call-section {
    background: var(--main-color);
    margin: 0px 0px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0em 30px;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .call-section .phone-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: -.4em;
  }
  .call-section .phone-number img {
    margin: .5em 0em;
    width: 20px;
    height: 20px;
  }
  .call-section .phone-number p {
    font-size: .8em;
    margin-left: 1.5em;
  }
  .call-section h4 {
    font-size: .9em;
    margin-top: .3em;
    margin-right: 5em;
  }
  a {
    text-decoration: none;
    color: white;
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    margin-bottom: 0em;
    -webkit-filter: drop-shadow(2px 6px 8px rgba(128, 128, 128, 0.7));
            filter: drop-shadow(2px 6px 8px rgba(128, 128, 128, 0.7));
  }
  .container a {
    color: black;
    font-size: .9em;
  }
  .container .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }
  .container .logo img {
    width: 45px;
    height: 45px;
  }
  .container .logo h2 {
    font-size: 1em;
    margin-left: .4em;
  }
  .container .logo h2 span {
    color: var(--main-color);
  }
  .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    margin-top: .8em;
  }
  .container nav ul li {
    margin: 0 2em;
  }
  section {
    padding-left: 30px;
    padding-right: 30px;
  }
  section.start-title {
    background: url(/images/start-title.jpg);
    margin-top: 0em;
    padding-top: 0em;
    width: auto;
    height: auto;
    color: white;
  }
  section.start-title .content-section {
    padding-top: 10em;
  }
  section.start-title .content-section h1 {
    margin: 0;
    font-size: 3em;
    display: block;
    text-align: left;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  section.start-title .content-section div {
    border: 5px solid #5200FF;
    width: 35%;
  }
  section.start-title .content-section h2 {
    font-size: 1.5em;
  }
  section.start-title .cta-group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  section.start-title .cta-group button {
    border: none;
    border-radius: 10px;
    padding: .5em .1em .5em .5em;
    font-size: 1.1em;
    margin-left: .3em;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 3.14765px 3.14765px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 3.14765px 3.14765px rgba(0, 0, 0, 0.25);
  }
  section.start-title .cta-group button .iconify {
    width: 28px;
    height: 28px;
  }
  section.start-title .cta-group button.cta-au {
    background: #E5E5E5;
    color: black;
  }
  section.start-title .cta-group button.cta-cu {
    background: var(--main-color);
    color: white;
  }
  section.why-us {
    background: url(/images/bg-why-us.png);
    width: auto;
    height: auto;
    padding: 2em 50px;
  }
  section.why-us .small-line {
    border: 5px solid #5200FF;
    width: 60px;
    margin: .5em 0em 5em 0em;
  }
  section.why-us h2 {
    margin-top: -.1em;
  }
  section.why-us .content-us {
    margin-top: -2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.why-us .content-us .img-blucar {
    width: 300%;
    height: auto;
  }
  section.why-us .content-us .content-text {
    padding-left: 3em;
  }
  section.why-us .content-us .content-text p {
    font-size: 1em;
    padding-top: 2em;
    text-align: justify;
  }
  section.why-us .content-us .content-text p span {
    color: var(--main-color);
    font-weight: bold;
  }
  section.why-us .content-us .content-text button {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 1.2em;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: .8em 1.6em;
    margin: auto 0em;
  }
  section.service-cts {
    background: var(--main-color);
    color: white;
    height: auto;
  }
  section.service-cts h1 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 1.2em;
  }
  section.service-cts ul.content-sr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  section.service-cts ul.content-sr div {
    margin-left: 1.4em;
  }
  section.service-cts ul.content-sr div p {
    text-align: left;
  }
  section.offer-week {
    color: black;
    height: auto;
    margin: 0em 35px;
  }
  section.offer-week h1 {
    text-align: center;
    margin: 0;
    padding: 1.1em;
  }
  section.offer-week img {
    width: 60%;
    height: 130%;
  }
  section.offer-week .content-inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  section.offer-week .content-inside h2 {
    margin-top: -.3em;
    margin-left: 2em;
    font-size: 1.3em;
  }
  section.offer-week .content-inside h2 span {
    color: var(--main-color);
  }
  section.offer-week .content-inside .detail-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1em;
    margin-top: 0em;
  }
  section.offer-week .content-inside .detail-offer .categ-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.offer-week .content-inside .detail-offer .categ-offer h3 {
    font-size: .9em;
  }
  section.offer-week .content-inside .detail-offer .categ-offer p {
    font-size: .95em;
  }
  section.offer-week .content-inside button {
    border: none;
    border-radius: 9px;
    background: var(--main-color);
    padding: .6em 1.3em;
    color: white;
    margin-left: 7em;
    font-size: .9em;
  }
  section.offer-week .content-inside button img {
    width: 20px;
    height: 20px;
  }
  section.news-updates {
    margin: 0 35px;
    text-align: center;
  }
  section.news-updates h1 {
    text-align: center;
  }
  section.news-updates .all-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4em;
  }
  section.news-updates .all-items div.first-one {
    border: 2px solid #B8B8B8;
    border-radius: 10px;
  }
  section.news-updates .all-items img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  section.news-updates .all-items .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
  }
  section.news-updates .all-items .items p {
    font-size: 0.6em;
    text-align: left;
  }
  section.news-updates .all-items .items .date-items {
    border: none;
    background: var(--main-color);
    margin-right: 2.1em;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 0em .4em;
    margin-bottom: 2em;
    margin-left: 2em;
  }
  section.news-updates .all-items .items .date-items p {
    font-size: .9em;
    text-align: center;
    margin: 0.5em 0em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.news-updates .all-items .items .text-inside {
    margin-left: 1em;
    font-size: 1.2em;
    text-align: left;
  }
  footer {
    background: var(--main-color);
    border: 20px solid var(--main-color);
    width: auto;
    height: 300px;
    margin-top: 5em;
  }
  footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }
  footer .logo img {
    width: 120px;
    height: 120px;
    margin-top: -1em;
  }
  footer .logo h2 {
    margin-right: auto;
  }
  footer .logo h2 span {
    color: white;
  }
  footer .cnt-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .cnt-footer li {
    font-size: .9em;
  }
  footer .cnt-footer li span {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  footer .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .social-media .iconify {
    width: 40px;
    height: 40px;
  }
  footer .social-media li {
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media only screen and (min-width: 940px) {
  :root {
    --main-color: #6E2FF4;
  }
  body {
    background: #f1f1f1;
    font-family: 'Poppins';
    margin: 0em 0px;
    letter-spacing: 0.08em;
  }
  .call-section {
    background: var(--main-color);
    margin: 0px 0px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0em 30px;
    height: 49px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .call-section .phone-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 0em;
  }
  .call-section .phone-number img {
    margin: .5em 0em;
    width: 30px;
    height: 30px;
  }
  .call-section .phone-number p {
    font-size: 1em;
    margin-left: 1.5em;
  }
  .call-section h4 {
    font-size: 1em;
    margin-top: .7em;
    margin-right: 5em;
  }
  a {
    text-decoration: none;
    color: white;
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    margin-bottom: 0em;
    -webkit-filter: drop-shadow(2px 6px 8px rgba(128, 128, 128, 0.7));
            filter: drop-shadow(2px 6px 8px rgba(128, 128, 128, 0.7));
  }
  .container a {
    color: black;
    font-size: 1.2em;
  }
  .container .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  }
  .container .logo img {
    width: 55px;
    height: 55px;
    margin-top: .4em;
  }
  .container .logo h2 {
    font-size: 1.3em;
    margin-left: .8em;
  }
  .container .logo h2 span {
    color: var(--main-color);
  }
  .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    margin-top: 1.3em;
  }
  .container nav ul li {
    margin-right: 2em;
    margin-left: 2em;
  }
  section {
    padding-left: 30px;
    padding-right: 30px;
  }
  section.start-title {
    background-image: url(/images/image-bg-titlw.svg);
    margin-top: 0em;
    padding-top: 0em;
    width: auto;
    height: 600px;
    color: white;
  }
  section.start-title .content-section {
    padding-top: 13em;
  }
  section.start-title .content-section h1 {
    margin: 0;
    font-size: 4em;
    display: block;
    text-align: left;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  section.start-title .content-section div {
    border: 5px solid #5200FF;
    width: 35%;
  }
  section.start-title .content-section h2 {
    font-size: 2em;
  }
  section.start-title .cta-group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  section.start-title .cta-group button {
    margin-top: 3em;
    border: none;
    border-radius: 10px;
    padding: .5em .1em .5em .5em;
    font-size: 1.4em;
    margin-left: .3em;
    -webkit-box-shadow: 0px 3.14765px 3.14765px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 3.14765px 3.14765px rgba(0, 0, 0, 0.25);
    letter-spacing: 0em;
  }
  section.start-title .cta-group button .iconify {
    width: 28px;
    height: 28px;
  }
  section.start-title .cta-group button.cta-au {
    background: #E5E5E5;
    color: black;
  }
  section.start-title .cta-group button.cta-cu {
    background: var(--main-color);
    color: white;
  }
  section.why-us {
    background-image: url(/images/whyUs-bg.svg);
    width: auto;
    height: auto;
    padding: 1em 50px;
    text-align: center;
  }
  section.why-us .small-line {
    border: 5px solid #5200FF;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 2em;
  }
  section.why-us h2 {
    margin-top: 0em;
  }
  section.why-us .content-us {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.why-us .content-us .img-blucar {
    width: 300%;
    height: auto;
  }
  section.why-us .content-us .content-text {
    padding-left: 3em;
  }
  section.why-us .content-us .content-text p {
    font-size: 1.2em;
    padding-top: 2em;
    text-align: justify;
  }
  section.why-us .content-us .content-text p span {
    color: var(--main-color);
    font-weight: bold;
  }
  section.why-us .content-us .content-text button {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 1.2em;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: .8em 1.6em;
    margin: auto 0em;
  }
  section.service-cts {
    background: var(--main-color);
    color: white;
    height: auto;
  }
  section.service-cts h1 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 1.2em;
  }
  section.service-cts ul.content-sr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
  }
  section.service-cts ul.content-sr div {
    margin-left: 1.4em;
  }
  section.service-cts ul.content-sr div p {
    text-align: left;
  }
  section.offer-week {
    color: black;
    height: auto;
    margin: 0em 35px;
  }
  section.offer-week h1 {
    text-align: center;
    margin: 0;
    padding: 1.2em;
  }
  section.offer-week img {
    width: 45%;
    height: 120%;
  }
  section.offer-week .content-inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  section.offer-week .content-inside h2 {
    margin-top: -.3em;
    margin-left: 6em;
  }
  section.offer-week .content-inside h2 span {
    color: var(--main-color);
  }
  section.offer-week .content-inside .detail-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 3em;
    margin-top: -.8em;
  }
  section.offer-week .content-inside .detail-offer .categ-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.offer-week .content-inside .detail-offer .categ-offer h3 {
    font-size: .9em;
  }
  section.offer-week .content-inside .detail-offer .categ-offer p {
    font-size: .95em;
  }
  section.offer-week .content-inside button {
    border: none;
    border-radius: 9px;
    background: var(--main-color);
    padding: .6em 1.3em;
    color: white;
    margin-left: 15em;
    font-size: .9em;
    margin-top: 2.5em;
  }
  section.offer-week .content-inside button img {
    width: 20px;
    height: 20px;
  }
  section.offer-week .content-inside button:hover {
    cursor: pointer;
  }
  section.news-updates {
    margin: 0 30px;
    text-align: center;
  }
  section.news-updates h1 {
    text-align: center;
  }
  section.news-updates .all-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 4em;
  }
  section.news-updates .all-items div.first-one {
    border: 2px solid #B8B8B8;
    border-radius: 10px;
    width: auto;
    margin-left: .5em;
    margin-right: .5em;
  }
  section.news-updates .all-items img {
    border-radius: 10px;
    height: 180px;
  }
  section.news-updates .all-items .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2em;
  }
  section.news-updates .all-items .items p {
    font-size: 0.6em;
    text-align: left;
  }
  section.news-updates .all-items .items .date-items {
    border: none;
    background: var(--main-color);
    margin-right: 2.1em;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 0em .4em;
    margin-bottom: 2em;
    margin-left: .8em;
  }
  section.news-updates .all-items .items .date-items p {
    font-size: .8em;
    text-align: center;
    margin: 0.5em 0em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.news-updates .all-items .items .text-inside {
    margin-left: 1em;
    font-size: 1em;
    text-align: left;
  }
  footer {
    background: var(--main-color);
    border: 20px solid var(--main-color);
    width: auto;
    height: 300px;
    margin-top: 5em;
  }
  footer .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }
  footer .logo img {
    width: 120px;
    height: 120px;
    margin-top: -1em;
  }
  footer .logo h2 {
    margin-right: auto;
  }
  footer .logo h2 span {
    color: white;
  }
  footer .cnt-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .cnt-footer li {
    font-size: .9em;
  }
  footer .cnt-footer li span {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  footer .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .social-media .iconify {
    width: 40px;
    height: 40px;
  }
  footer .social-media li {
    margin-left: 2em;
    margin-right: 2em;
  }
}

:root {
  --main-color: #6E2FF4;
}

section.title-sec {
  color: white;
  background: url(/images/young.jpg);
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.title-sec .iconify {
  width: 120px;
  height: 120px;
}

section.title-sec h1 {
  font-size: 3em;
  margin-top: 0;
}

section.title-sec p {
  margin-top: 7em;
}

section.contact-form {
  position: absolute;
  background: white;
  top: 25em;
  margin: 2em 8em;
  padding: 0 0em 3em 0em;
  -webkit-filter: drop-shadow(2px 6px 8px rgba(128, 128, 128, 0.6));
          filter: drop-shadow(2px 6px 8px rgba(128, 128, 128, 0.6));
}

section.contact-form h3 {
  display: block;
  text-align: center;
}

section.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.contact-form ::-webkit-input-placeholder {
  color: gray;
  font-family: 'Poppins';
  font-size: .9em;
  padding-left: 1em;
}

section.contact-form :-ms-input-placeholder {
  color: gray;
  font-family: 'Poppins';
  font-size: .9em;
  padding-left: 1em;
}

section.contact-form ::-ms-input-placeholder {
  color: gray;
  font-family: 'Poppins';
  font-size: .9em;
  padding-left: 1em;
}

section.contact-form ::placeholder {
  color: gray;
  font-family: 'Poppins';
  font-size: .9em;
  padding-left: 1em;
}

section.contact-form div {
  margin: 1em 5em;
}

section.contact-form label {
  font-size: .8em;
}

section.contact-form input, section.contact-form textarea {
  background: #dfdfdf;
  border: #dfdfdf;
  display: block;
  margin: .8em 0;
}

section.contact-form input[type="text"], section.contact-form input[type="email"], section.contact-form input[type="number"] {
  width: 170%;
  height: 40px;
}

section.contact-form textarea {
  width: 100%;
  height: 70%;
}

section.contact-form textarea ::-webkit-input-placeholder {
  padding-top: 4em;
}

section.contact-form textarea :-ms-input-placeholder {
  padding-top: 4em;
}

section.contact-form textarea ::-ms-input-placeholder {
  padding-top: 4em;
}

section.contact-form textarea ::placeholder {
  padding-top: 4em;
}

section.contact-form .button-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.contact-form .button-sec div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0;
}

section.contact-form .button-sec div span {
  font-size: .7em;
  margin-left: .4em;
}

section.contact-form .button-sec button {
  background: var(--main-color);
  border: none;
  border-radius: 5px;
  color: white;
  padding: .6em 2em;
  font-size: 1em;
  font-family: 'Poppins';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.location {
  margin-top: 25em;
  text-align: center;
}

section.location iframe {
  width: 90%;
}

section.title-pg {
  background: url(/images/car-listing-bg.jpg);
  height: 200px;
}

section.title-pg h2 {
  margin: 0;
  padding-top: 2.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  font-size: 2.3em;
}

section.gallery-sec {
  margin: 2em 30px;
}

section.gallery-sec .type-cars {
  margin-bottom: 2em;
}

section.gallery-sec .type-cars ul {
  font-size: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.gallery-sec .type-cars ul li {
  margin-right: 3em;
  background: white;
  padding: .5em 1em;
  border-bottom: 3px solid var(--main-color);
}

section.gallery-sec .type-cars ul li:hover {
  cursor: pointer;
  background: var(--main-color);
  border-bottom: 3px solid white;
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 1;
}

section.gallery-sec .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

section.gallery-sec .main-content .disabled-sec {
  display: none;
}

section.gallery-sec .main-content .cars-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 170%;
}

section.gallery-sec .main-content .cars-bar .car-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #B8B8B8;
  margin: 0 .5em 1em 0;
}

section.gallery-sec .main-content .cars-bar .car-desc .img-car {
  width: 350px;
  height: auto;
}

section.gallery-sec .main-content .cars-bar .car-desc .text-desc {
  margin: 0 1em;
  margin-top: -1em;
}

section.gallery-sec .main-content .cars-bar .car-desc .text-desc p {
  font-size: .9em;
}

section.gallery-sec .main-content .cars-bar .car-desc .text-desc h6 {
  margin: 0 0 .5em 2em;
  color: var(--main-color);
}

section.gallery-sec .main-content .cars-bar .car-desc .text-desc button {
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  background: var(--main-color);
  margin-bottom: 1em;
  font-weight: bold;
}

section.gallery-sec .filter-bar {
  border: 2px solid #B8B8B8;
  width: 40%;
  height: 870px;
}

section.gallery-sec .filter-bar .title-filter {
  background: #cfcdcd;
  padding: 1.5em;
  margin-bottom: 3em;
}

section.gallery-sec .filter-bar .title-filter h3 {
  font-size: .8em;
  text-align: center;
  margin: 0;
  color: gray;
}

section.gallery-sec .filter-bar .filter-content {
  text-align: left;
  margin: 4em 1.5em;
  font-size: .8em;
}

section.gallery-sec .filter-bar .filter-content p {
  margin-bottom: 1em;
  margin-top: 2.5em;
}

section.gallery-sec .filter-bar .filter-content input {
  width: 90%;
  height: 27px;
  background: #f1f1f1;
  border: 1.4px solid #c7c7c7;
}

section.gallery-sec .filter-bar .filter-content ::-webkit-input-placeholder {
  color: black;
  font-family: 'Poppins';
}

section.gallery-sec .filter-bar .filter-content :-ms-input-placeholder {
  color: black;
  font-family: 'Poppins';
}

section.gallery-sec .filter-bar .filter-content ::-ms-input-placeholder {
  color: black;
  font-family: 'Poppins';
}

section.gallery-sec .filter-bar .filter-content ::placeholder {
  color: black;
  font-family: 'Poppins';
}

section.gallery-sec .filter-bar .find-car {
  text-align: center;
}

section.gallery-sec .filter-bar .find-car button {
  background: #131313;
  font-family: 'Poppins';
  font-size: .9em;
  border: none;
  color: white;
  padding: .7em 0;
  width: 70%;
}

section.gallery-sec .filter-bar .find-car button:hover {
  cursor: pointer;
}

section.content-page {
  margin: 0;
  padding: 0;
  margin-bottom: -10em;
}

section.content-page .top-background img {
  width: 100%;
}

section.content-page .form-book {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  top: -200px;
  background: rgba(110, 47, 244, 0.45);
  border: 2px solid #B8B8B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em 3em;
  color: white;
}

section.content-page .form-book .title-form {
  margin-bottom: 2.5em;
}

section.content-page .form-book .title-form h4 {
  margin-top: -1em;
}

section.content-page .form-book .filter-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.content-page .form-book .filter-date .cars-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  margin-left: 1em;
}

section.content-page .form-book .filter-date .cars-icon img {
  width: 35px;
  height: 35px;
  margin-left: .4em;
}

section.content-page .form-book .filter-date .cars-icon input {
  border: none;
  margin-left: 1em;
  padding-right: 7em;
}

section.content-page .form-book .filter-date .date-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.content-page .form-book .filter-date .date-inputs .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  margin-left: .5em;
}

section.content-page .form-book .filter-date .date-inputs .date img {
  width: 30px;
  height: 30px;
  margin: .3em;
}

section.content-page .form-book .filter-date .date-inputs .date input {
  border: none;
  margin-left: 1em;
  padding-right: 1.2em;
}

section.content-page .form-book .filter-date button {
  background: var(--main-color);
  color: white;
  border: none;
  padding: 0 3em;
  margin-left: 3em;
  font-weight: bold;
}

section.content-page .form-book .vehicles-type {
  margin-top: 2.5em;
}

section.content-page .form-book .vehicles-type .container {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.1em;
  margin: 0 2em;
}

section.content-page .form-book .vehicles-type .container div {
  margin: .4em 0;
}

section.content-page .form-book .vehicles-type .container div input[type=radio] {
  width: 1.5em;
  height: 1.5em;
}

section.content-page .form-book .gearbox-type .content-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.content-page .form-book .gearbox-type .content-inside div {
  margin: .8em 1.6em;
}

section.content-page .form-book .gearbox-type .content-inside div h4 {
  position: absolute;
  top: 516px;
  font-size: 1.1em;
}

section.content-page .form-book .gearbox-type .content-inside div .auto-cta {
  margin-left: 2.3em;
}

section.content-page .form-book .gearbox-type .content-inside div .manual-cta {
  margin-left: 3.3em;
}

section.content-page .form-book .gearbox-type .content-inside div .moto-cta {
  margin-left: 4.3em;
}

section.content-page .form-book .fuel-type .chooces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.content-page .form-book .fuel-type .chooces div {
  margin: 0 4em;
}

section.content-page .form-book .fuel-type .chooces div input[type=radio] {
  width: 1.5em;
  height: 1.5em;
}

section.content-page .form-book .rent-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: .8em 0;
}

section.content-page .form-book .rent-days input[type="number"] {
  margin-left: 2em;
  margin-top: 1em;
  width: 15%;
  height: 25px;
}

section.content-page .form-book .get-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3em 6em;
}

section.content-page .form-book .get-total button {
  font-size: 1.1em;
  border: none;
  background: var(--main-color);
  color: white;
  padding: .8em 2.5em;
}
/*# sourceMappingURL=main.css.map */