:root {
    --main-color: #6E2FF4;
  }
body {
    background: #f1f1f1;
    font-family: 'Poppins';
    margin: 0em 0px;
    letter-spacing: 0.08em;
}

.call-section {
    background: var(--main-color);
    margin: 0px 0px;
    color: white;
    display: flex;
    justify-content: end;
    padding: 0em 30px;
    height: 49px;
    padding-left: 30px;
    padding-right: 30px;
    .phone-number {
        display: flex;
        margin: auto;
        img {
        margin: .5em 0em;
        width: 30px;
        height: 30px;
        }
        p {
            
            margin-left: 1.5em;
        }
    }
    h4 {
        margin-top: .7em;
        margin-right: 5em;
    }
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
    background: white;
    display: flex;
    place-content: space-between;
    margin-bottom: 0em;
    a {
        color: black;
        font-size: 1.2em;
        margin-left: 5em;
    }
    .logo {
        display: flex;
        place-content: space-between;
        img {
            width: 60px;
            height: 60px;
            margin-top: .4em;
        }
        h2 {
            margin-left: .8em;
            span {
                color: var(--main-color);
            }
        }
    }
    nav {
        ul {
            display: flex;
            place-content: space-between;
            margin-right: 17em;
            margin-top: 1.3em;
        }
    }
}

section {
    padding-left: 30px;
    padding-right: 30px;
}

section.start-title {
    background: url(/images/start-title.jpg);
    margin-top: 0em;
    padding-top: 0em;
    width: auto;
    height: 600px;
    color: white;
    .content-section {
        padding-top: 13em;
        h1 {
        margin: 0;
        font-size: 4em;
        display: block;
        text-align: left;
        align-content: center;
        // ho-align:middle;
       }
       div {
        border: 5px solid #5200FF;
        width: 35%;
       }
       h2 {
           font-size: 2em;
       }
    }
    .cta-group {
        // display: block;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        button {
            margin-top: 3em;
            border: none;
            border-radius: 10px;
            padding: .5em .1em .5em .5em;
            font-size: 1.4em;
            margin-left: .3em;
            box-shadow: 0px 3.14765px 3.14765px rgba(0, 0, 0, 0.25);
            letter-spacing: 0em;
            .iconify {
                width: 28px;
                height: 28px;           
            }
        }
        button.cta-au {
            background: #E5E5E5;
            color: black;
        }
        button.cta-cu {
            background: var(--main-color);
            color: white;
        }
    }
}

section.why-us {
    background: url(/images/bg-why-us.png);
    width: auto;
    height: 440px;
    display: flex;
    place-content: space-between;
    padding: 3em 50px;
    justify-content: flex-end;
    .content-text {
        padding-left: 3em;
        div {
            border: 5px solid #5200FF;
            width: 60px;
            margin: 1.5em 0em;
        }
        p {
            padding-top: 2em;
            text-align: justify;
            span {
                color: var(--main-color);
                font-weight: bold;
            }
        }
        button {
            justify-content: flex-end;
            font-size: 1.2em;
            background: var(--main-color);
            color: white;
            border: none;
            border-radius: 10px;
            padding: .8em 1.6em;
            margin: 3em 0em;
        }
    }
}

section.service-cts {
    background: var(--main-color);
    color: white;
    height: 320px;
    h1 {
        display: block;
        text-align: center;
        margin: 0;
        padding: 1.2em;
    }
    div.content-sr {
        display: flex;
        place-content: space-between;
        div {
            margin-left: 1.4em;
            p {
                text-align: left;
            }
        }
    }
}

section.offer-week {
    color: black;
    height: 500px;
    margin: 0em 35px;
    h1 {
       // display: block;
        text-align: center;
        margin: 0;
        padding: 1.2em;
    }
    img {
        width: 550px;
        height: 380px;
    }
    .content-inside {
        display: flex;
        h2 {
            margin-left: 6em;
            span {
                color: var(--main-color);
            }
        }
        .detail-offer {
            display: flex;
            justify-content: center;
            place-content: space-between;
            .offer-tl {
                font-size: 1.2em;
                font-weight: bold;
                margin-top: 0em;
                li {
                    padding-bottom: 1.2em;
                }
            }
            .offer-res {
                font-size: 1.1em;
                margin-top: 0em;
                margin-left: 6em;
                li {
                    padding-bottom: 1.45em;
                }
            }
        }
        button {
            border: none;
            border-radius: 9px;
            background: var(--main-color);
            padding: .6em 1.3em;
            color: white;
            margin-left: 30em;
            font-size: .9em;
            // justify-content: center;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

section.news-updates {
    margin: 0 35px;
    text-align: center;
    h1 {
        text-align: center;
    }
    .all-items {
        display: flex;
        justify-content: center;
        div .first-one .second-one .third-one{
            border: 2px solid #B8B8B8;
            border-radius: 10px;
        }
        img {
            border-radius: 10px;
            width: 300px;
            height: 200px;
        }
        .date-items {
            border: none;
            background: var(--main-color);
            margin: 0 7.5em;
            border-radius: 10px;
            color: white;
        }
        .first-one {
            div {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.cnt-footer {
    background: var(--main-color);
    border: 20px solid var(--main-color);
    width: auto;
    height: 300px;
    margin-top: 10em;
}
